@page "/software"

<PageTitle>Software</PageTitle>

<div id="hardware" style="display:flex; align-items:center; flex-direction:column;">
	<MudText Typo="Typo.h3" Style="text-align:center; color:#3b82f6; margin-bottom: 16px;">Software</MudText>
	<MudImage Src="software.png" Width="332" Height="250" Alt="Swedish Farm House" Elevation="25" Class="rounded-lg ma-4" />
	<MudText Typo="Typo.body1" Style="text-align:justify; padding:16px;">
		Refere-se à parte lógica e intangível de um sistema computacional. Ele é composto por programas, aplicativos, e instruções que permitem que o hardware funcione e execute tarefas específicas. Em outras palavras, é o conjunto de códigos que dá vida aos dispositivos eletrônicos.
	</MudText>
</div>
